{% extends "fridge/base.html" %}
{% block content %}
{% include "fridge/header.html"%}
<div class="container-fluid mb-5" style="background-color: #FFF7F1;">
    <h2 class class="mt-5">
        KitchenGuard! Keep you food fresh, Feed fresh.
    </h2>
    {% if user.is_superuser %}
        <div class="row flex-nowrap" >
            {%include "fridge/sidebar.html"%}
            <div class="col py-3">
                {% block superuser_content %}
                {% endblock %}
              </div>
        </div>

    {% else %}
    <div class="d-flex justify-content-center mt-3">
        {% if perms.fridge.view_fridgeitem %}
            {% if perms.fridge.add_fridgeitem %}
                <a class="btn btn-success mr-3" href="/items/insert">Insert Item</a>
            {% endif %}
            {% if perms.fridge.change_fridgeitem %}
                <a class="btn btn-danger" href="/items/take">Remove Item</a>
            {% endif %}
    
        {% else %}
            <h1>Your access has been blocked please contact the Headchef for further infomration.</h1>
        {% endif %}
    </div>
    {% endif %}

    
</div>                
{% endblock %}