{% extends "fridge/admin_base.html"%}

{% block superuser_content %}
{%load fridge_tags%}

    <h1>Orders</h1>
    {% if orders%}
    <a class="btn btn-outline-success mb-3" href="/orders/create">Add Order</a>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Item</th>
            <th scope="col">Supplier</th>
            <th scope="col">Order Code</th>
            <th scope="col">Order Status </th>
            <th scope="col">Quantity </th>
            <th scope="col">Created At </th>
          </tr>
        </thead>
        <tbody>
          {% for order in orders %}
          <tr>
            <td>{{order.firdge_item}}</td>
            <td>{{order.supplier}}</td>
            <td>{{order.order_code}}</td>
            <td>{{order.order_status}}</td>
            <td>{{order.quantity}}</td>
            <td>{{order.created_at}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
    <p>No Order available</p> 
    <a class="btn btn-outline-success" href="/orders/create">Add New Order</a>
    {% endif %}
    {% endblock superuser_content %}