{% extends "fridge/admin_base.html"%}

{% block superuser_content %}
    <h1>Suppliers</h1>
    {% if suppliers_list%}
    <a class="btn btn-outline-success mb-3" href="/suppliers/add">Add Supplier</a>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
          </tr>
        </thead>
        <tbody>
          {% for supplier in suppliers_list %}
          <tr>
            <td>{{supplier.name}}</td>
            <td>{{supplier.email}}</td>
            <td>{{supplier.phone}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
    <p>No Supplier is available</p> 
    <a class="btn btn-outline-success" href="/supplier/add">Add Item</a>
    {% endif %}
    {% endblock superuser_content %}